{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activitedeformation</h1>

    <table>
        <tbody>
            <tr>
                <th>Séquence</th>
                <td>{{ activitedeformation.sequenceid }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ activitedeformation.intitule }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ activitedeformation.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activitedeformation.description }}</td>
            </tr>
            <tr>
                <th>Objectif du formateur</th>
                <td>{{ activitedeformation.objectifformateur }}</td>
            </tr>
            <tr>
                <th>Objectif de l'apprenant</th>
                <td>{{ activitedeformation.objectifapprenant }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ activitedeformation.temps }} heure(s)</td>
            </tr>
            <tr>
                <th>Demarche</th>
                <td>{% if activitedeformation.demarche %}Inductive{% else %}Déductive{% endif %}</td>
            </tr>
            <tr>
                <th>Evaluation</th>
                <td>{{ activitedeformation.evaluation }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ activitedeformation.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('activite_edit', { 'id': activitedeformation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
