{% extends 'base.html.twig' %}

{% block body %}
    <h1>Outildeformation list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outildeformation in outildeformations %}
            <tr>
                <td><a href="{{ path('outil_show', { 'id': outildeformation.id }) }}">{{ outildeformation.nom }}</a></td>
                <td>{{ outildeformation.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('outil_link', { 'id': outildeformation.id , 'activiteid': activiteid }) }}">Link</a>
                        </li>
                        <li>
                            <a href="{{ path('outil_show', { 'id': outildeformation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('outil_edit', { 'id': outildeformation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('outil_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
