{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moduledeformation</h1>

    <table>
        <tbody>
            <tr>
                <th>Intitule</th>
                <td>{{ module.intitule }}</td>
            </tr>
            <tr>
                <th>Objectif</th>
                <td>{{ module.objectif }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ module.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ module.description }}</td>
            </tr>
            <tr>
                <th>Prerequis</th>
                <td>{{ module.prerequis }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ module.id }}</td>
            </tr>
        </tbody>
    </table>



    <h2> Liste des séquences</h2>
    <ul>
        {% for sequence in sequences %}
            <li>
                <a href="{{ path('sequence_show', { 'seqid':sequence.id, 'modid':module.id, 'progid':program.id }) }}">
                    {{sequence.code}} : {{sequence.intitule}}
                </a>
            </li>
        {% endfor %}
           <li>
                <a href="{{ path('sequence_new', { 'modid': module.id, 'progid':program.id }) }}">
                   Ajouter une séquence
                </a>
            </li>
    </ul>

    <ul>
        <li>
            <a href="{{ path('module_index', { 'modid': module.id, 'progid':program.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('module_edit', { 'modid': module.id, 'progid':program.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
